body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 30px;
}

header {
  text-align: center;
}

/* img reset logo */

header img {
  max-height: 250px;
  cursor: pointer;
}

strong {
  font-weight: 600;
  line-height: 1.5em;
}

.type {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
  background-image: url("http://orig15.deviantart.net/24d8/f/2011/057/3/5/ge___energy_type_icons_by_aschefield101-d3agp02.png");
  background-repeat: no-repeat;
  background-size: 500% 400%;
}


.row {
  display: block;
  min-height: 50px;
}

.choix {
  text-align: center;
  padding: 20px 0;
}
.choix p {
  font-size: 2em;
}


.darkrai {
  width: 150px;
  height: 150px; 
}

 /* #pokemons .darkrai:hover {
  width:250px;
  height:250px;
  } */ 

.goupix {
  width: 150px;
  height: 150px; 
}

.keunotor {
  width: 150px;
  height: 150px; 
}

.pichu {
  width: 150px;
  height: 150px; 
}

.noctali {
  width: 150px;
  height: 150px; 
}

.tygnon {
  width: 150px;
  height: 150px; 
}
.pokemons {
  display: flex;
  justify-content: space-around;
  transition: visibility 0.3s ease, opacity 0.3s ease, height 0.3s ease;
}

.modal-out {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(33, 33, 33, 0.75);
  z-index: 900;
}
.modal-out .modal-in {
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  background: #FFFAFA;
}
.modal-out .modal-in header {
  position: relative;
  min-height: 30px;
  text-align: center;
  padding: 10px 3%;
  box-sizing: border-box;
}
.modal-out .modal-in header h1 {
  font-size: 2.2em;
}
.modal-out .modal-in .close {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 13px;
}
.modal-out .modal-in section {
  box-sizing: border-box;
  padding: 25px 3%;
}
